#### Function Transformer

--> helps to apply any function to specific column or on full dataset.

--> can be also used to convert not a normally distributed data to a normally distributed data.

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import FunctionTransformer

In [2]:
df = pd.DataFrame(
    {"Salary" : [1000,2000,5000,10000,50000]}
)
df

   Salary
0    1000
1    2000
2    5000
3   10000
4   50000

In [3]:
# applying log transformer
# log1p = log(1+x) safe for zero values

lt = FunctionTransformer(np.log1p)

df_log = lt.fit_transform(df)

print("Changed Dataset into log values :\n")
df_log

Changed Dataset into log values :

      Salary
0   6.908755
1   7.601402
2   8.517393
3   9.210440
4  10.819798

In [ ]:
# applying the customised functions
# divides all values by 10

trans = FunctionTransformer(lambda x : x/10)

df_custom = trans.fit_transform(df)
df_custom

   Salary
0   100.0
1   200.0
2   500.0
3  1000.0
4  5000.0

In [6]:
# applying sqrt function

def change(x):
    return np.sqrt(x)

tran = FunctionTransformer(func = change)
df_changed = tran.fit_transform(df)
df_changed

       Salary
0   31.622777
1   44.721360
2   70.710678
3  100.000000
4  223.606798